@media all and (max-width:1024px){
.wholetable{
	font-size:3vw;
}

label input[type="radio"]{
	width:2vw;
	height:2vw;
	position:relative;
	top:-0.27vw;
}

label input[type="checkbox"]{
	width:1.8vw;
	height:1.8vw;
	position:relative;
	top:-0.3vw;
}

label input[type="number"]{
	font-size:2.7vw;
}
}