@media all and (max-width:1280px){
.wholetable{
	font-size:3.5vw;
}

label input[type="radio"]{
	width:3vw;
	height:3vw;
	position:relative;
	top:0;
}

label input[type="checkbox"]{
	width:2.8vw;
	height:2.8vw;
	position:relative;
	top:-1px;
	margin-left:6px
}

label input[type="number"]{
	font-size:2.7vw;
}

input[type="button"]{
	font-size:3.5vw;
}
}